<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furia</title>
    <link rel="icon" type="image/jpg" href="../Img/LOGO.jpg" />
    <link rel="stylesheet" href="../Assets/Css/formato.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Lato&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body class="cuerpo">
    <header>
      <img src="../Img/logonuevo.png" alt="LOGO" />
    </header>
    <main>
      <div class="grid-container">
        <div class="grid-item1">
          <h1 class="titulo">Furia clothing</h1>
        </div>
        <div class="grid-item2">
          <ol class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./sale.html">SALE</a></li>
            <li><a href="./tabladetalles.html">Tabla de talles</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </div>
        <div class="grid-item3">
          <article>
            <h2 class="subtitulos">Nosotros</h2>
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.9931050064733!2d-58.466868585197034!3d-34.553729962361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb682f37a35e1%3A0xdd26323f89044b17!2sAv.%20Cabildo%203100%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1628018675879!5m2!1ses!2sar"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </article>
        </div>
        <br />
        <br />
        <div class="grid-item4">
          <article>
            <div class="social">
              <h3>
                <a href="#"><img src="../Img/facebook.png" alt="facebook" /></a>
                <a href="#"><img src="../Img/whatsapp.png" alt="whatsapp" /></a>
                <a href="#"><img src="../Img/instagram.png" alt="inst" /></a>
              </h3>
            </div>
          </article>
          <footer><strong> Desarollado en Argentina,2021. </strong></footer>
        </div>
      </div>
    </main>
    <!--SCRIPS-->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
