<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furia</title>
    <link rel="icon" type="image/jpg" href="../Img/LOGO.jpg" />
    <link rel="stylesheet" href="../Assets/Css/formato.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Lato&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body class="cuerpo">
    <header>
      <img src="../Img/logonuevo.png" alt="LOGO" />
    </header>
    <main>
      <div class="grid-container">
        <div class="grid-item1">
          <h1 class="titulo">Furia clothing</h1>
        </div>
        <div class="grid-item2">
          <ol class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./sale.html">SALE</a></li>
            <li><a href="./tabladetalles.html">Tabla de talles</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ol>
        </div>
        <div class="grid-item3">
          <article>
            <h2 class="subtitulos">Productos</h2>
          </article>
          <section>
            <div>
              <img src="../Img/remeron blanco.jpg" alt="Remeron blanco" />
              <strong>
                <p class="textos">Remeron blanco</p>
              </strong>
              <p class="textos">AR$650</p>
            </div>
            <div>
              <img src="../Img/Cargo.jpg" alt="Cargo" />
              <strong>
                <p class="textos">Pantalón cargo</p>
              </strong>
              <p class="textos">AR$700</p>
            </div>
            <div>
              <img src="../Img/Top frunce.jpg" alt="Top frunce" />
              <strong>
                <p class="textos">Top negro frunce</p>
              </strong>
              <p class="textos">AR$350</p>
            </div>
            <div>
              <img src="../Img/principal.jpeg" alt="Remera angel" />
              <strong>
                <p class="textos">Remera angel</p>
              </strong>
              <p class="textos">AR$500</p>
            </div>
            <div>
              <img src="../Img/Morley.jpg" alt="Morley" />
              <strong>
                <p class="textos">Top Morley</p>
              </strong>
              <p class="textos">AR$450</p>
            </div>
            <div>
              <img src="../Img/palazo blanco.jpg" alt="Palazo blanco" />
              <strong>
                <p class="textos">Palazo blanco</p>
              </strong>
              <p class="textos">AR$580</p>
            </div>
            <div>
              <img src="../Img/Remera hombreras.jpg" alt="Remera hombreras" />
              <strong>
                <p class="textos">Remera hombreras</p>
              </strong>
              <p class="textos">AR$500</p>
            </div>
            <div>
              <img src="../Img/palazo negro.jpg" alt="Palazo negro" />
              <strong>
                <p class="textos">Palazo negro</p>
              </strong>
              <p class="textos">AR$700</p>
            </div>
          </section>
        </div>
        <br />
        <br />
        <div class="grid-item4">
          <footer><strong> Desarollado en Argentina,2021. </strong></footer>
        </div>
      </div>
    </main>
    <!--SCRIPS-->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
